<footer class="container leading-7 space-y-3 pb-12 text-sm text-center">
  <p>
    &copy; {new Date().getFullYear()}
    <b>Damilola O.</b> - All Rights Reserved.
  </p>
  <p>
    Source code is available at <a
      href="https://github.com/ddddami/trulydami.me"
      target="_blank"
      class="underline underline-offset-2 text-neutral-900/70"
      >github.com/ddddami/trulydami.me</a
    >
  </p>
</footer>
