---
import { Icon } from "astro-icon/components";
---

<nav class="max-w-screen w-full">
  <div
    class="md:container lg:container mx-auto flex items-center justify-between space-x-5 py-4 px-8"
  >
    <a href="/">
      <Icon name="tabler:terminal" size="24" class="aspect-square block" />
    </a>

    <div
      class="flex items-center text-sm md:text-base gap-5 md:gap-6 flex-wrap"
    >
      <a href="/blog">blog</a>
      <a href="/projects">projects</a>
      <a href="/tools">tools</a>
    </div>
  </div>
</nav>
