---
import { Icon } from "astro-icon/components";
import ThemeSwitcher from "~components/items/ThemeSwitcher.astro";
---

<nav class="max-w-screen w-full">
  <div
    class="md:container lg:container mx-auto flex items-center justify-between space-x-5 py-4 px-8"
  >
    <a href="/">
      <Icon name="tabler:terminal" size="24" class="aspect-square block" />
    </a>

    <div class="flex items-center text-base gap-4 md:gap-5 flex-wrap">
      <a class="py-0.5" href="/blog">blog</a>
      <a class="py-0.5" href="/projects">projects</a>
      <a class="py-0.5" href="/tools">tools</a>
      <ThemeSwitcher />
    </div>
  </div>
</nav>
