---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const {
  post: { data, slug },
} = Astro.props;
---

<div class="flex gap-2.5">
  <time datetime={data.date.toISOString()} class="text-secondary-outline">
    {new Date(data.date).toLocaleDateString("en-GB")}
  </time>

  <a href={"/posts/" + slug} class="font-semibold">{data.title}</a>
</div>
