---
import Layout from "~layouts/Layout.astro";
---

<Layout title="404">
  <main>
    <div class="min-h-screen flex flex-col items-center justify-center gap-4">
      <h1 class="text-9xl font-bold">404</h1>
      <p class="opacity-70">oh boy, seems like you are lost..</p>
      <a href="/">Home</a>
    </div>
  </main>
</Layout>
