---
import Layout from "../layouts/Layout.astro";
import ProfileCard from "~components/layout/ProfileCard.astro";
---

<Layout title="Books">
  <main class="container">
    <ProfileCard />
    <h2 class="text-3xl mb-5 mt-2">Books</h2>

    <p class="mb-8">
      I never liked reading and even often struggled with it. A friend helped me see how important reading is. Ever since, books have become some of my greatest teachers. They shape the way I think, work, and want to live. Through these notes, I’m sharing the key insights and knowledge I’ve      gained learning from these absolutely brilliant minds.</p>

    <!--  Books -->
    <section>

    <div class="mt-4 space-y-20">
      <!-- build note list -->
    </div>
  </main>
</Layout>
