---
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SimpleArticleListItem from "../components/items/SimpleArticleListItem.astro";
import H2 from "../components/mdx/H2.astro";
import { getCollection } from "astro:content";

type Project = CollectionEntry<"projects">["data"][number];
const PAGE_SIZE = 6;
const posts = (await getCollection("blog")).slice(0, PAGE_SIZE);
const projects: Project[] =
  (await getCollection("projects"))?.[0]?.data.slice(0, PAGE_SIZE) ?? [];
---

<Layout title="Damilola Osunsanwo">
  <main class="container">
    <SiteHeader />

    <section id="about">
      <p>
        Hey there! I&apos;m Damilola – a software developer and sophomore
        software engineering student, a sucker for software that
        _just&nbsp;works_ and is beautifully simple. I constantly build and
        break things (a lot), always learning and expanding my skills so I can
        create seamless, high-performing software that feels intuitive and
        reliable – the kind of software I believe people should experience and
        that I&apos;d love to use.
      </p>
    </section>

    <!-- {latest posts} -->
    <section class="mt-6" id="latest-posts">
      <H2 class="text-3xl">Latest posts</H2>

      <div class="mt-5 space-y-5">
        {posts.map((post) => <SimpleArticleListItem {post} />)}
      </div>
    </section>

    <hr class="my-12" />

    <section id="projects">
      <H2>Featured projects</H2>

      <div class="mt-5 space-y-5">
        {projects.map((project) => project.name)}
      </div>
    </section>
  </main>
</Layout>
