---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import { getCollection } from "astro:content";

const PAGE_SIZE = 6;
const posts = (await getCollection("blog")).slice(0, PAGE_SIZE);
---

<Layout title="Damilola Osunsanwo">
  <main class="container">
    <SiteHeader />

    <section id="about">
      <p>
        Hey there! I&apos;m Damilola – a software developer and sophomore
        software engineering student, a sucker for software that
        _just&nbsp;works_ and is beautifully simple. I constantly build and
        break things (a lot), always learning and expanding my skills so I can
        create seamless, high-performing software that feels intuitive and
        reliable – the kind of software I believe people should experience and
        that I&apos;d love to use.
      </p>
    </section>
    <!-- {latest posts} -->
    <section id="latest-posts">
      <h2 class="mt-6 text-3xl">Latest posts</h2>

      <div class="mt-5 space-y-5">
        {posts.map((post) => post.data.title)}
      </div>
    </section>
  </main>
</Layout>
