---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProfileCard from "../components/layout/ProfileCard.astro";
import SimpleArticleListItem from "../components/items/SimpleArticleListItem.astro";
import SimpleProjectListItem from "../components/items/SimpleProjectListItem.astro";

export type Project = CollectionEntry<"projects">["data"][number];
const PAGE_SIZE = 6;
const posts = (await getCollection("blog")).slice(0, PAGE_SIZE);
const projects: Project[] =
  (await getCollection("projects"))?.[0]?.data.slice(0, PAGE_SIZE) ?? [];
---

<Layout title="Damilola Osunsanwo">
  <main class="container">
    <ProfileCard />

    <section id="about">
      <p>
        Hey there! I&apos;m Damilola – a software developer and sophomore
        software engineering student, a sucker for beautifully simple software
        that
        <span class="italic">just&nbsp;works</span>. I constantly build and
        break things (a lot), learn new things and expand my skill set so I can
        create reliable, seamless &amp; high-performance software - the kind of
        software I believe people should experience and that I want to use.
      </p>
    </section>

    <!-- {latest posts} -->
    <section class="mt-6" id="latest-posts">
      <h2>Latest posts</h2>

      <div class="mt-5 space-y-5">
        {posts.map((post) => <SimpleArticleListItem {post} />)}
      </div>
    </section>

    <hr class="my-12" />

    <section id="projects">
      <h2>Featured projects</h2>

      <div class="mt-5 space-y-5">
        {projects.map((project) => <SimpleProjectListItem {project} />)}
      </div>
    </section>
  </main>
</Layout>
