---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Layout from "~layouts/Layout.astro";
import ProfileCard from "~components/layout/ProfileCard.astro";

import php from "~icons/php.svg";
import typescript from "~icons/typescript.svg";
import go from "~icons/go.svg";
import docker from "~icons/docker.svg";
import git from "~icons/git.svg";
import python from "~icons/python.svg";
import neovim from "~icons/neovim.svg";
import tailwindcss from "~icons/tailwindcss.svg";
import mysql from "~icons/mysql.svg";

type Tool = {
  name: string;
  description: string;
  logo: ImageMetadata;
  color: string;
};

const tools: Tool[] = [
  {
    name: "PHP",
    description:
      "Good choice for dynamic web apps with no crazy requirements. I loathed it at first because the syntax seemed weird and everyone said `PHP is dead` (it really isn't). I have now grown to love & build web apps with it.",
    logo: php,
    color: "#4F5B93",
  },
  {
    name: "Typescript",
    description:
      "JavaScript is the only sane way (I know of) for highly interactive web apps. If I'd be spending time writing it, I want my IDE to tell me 'Hey, you messed up here' instead of leaving me guessing. Even without runtime benefits, I appreciate the static checking.",
    logo: typescript,
    color: "#007ACC",
  },
  {
    name: "Go",
    description:
      "I can build fast, scalable & concurrent programs with much simplicity and not having to worry about the complexity I have to deal with in other systems.",
    logo: go,
    color: "#00ADD8",
  },
  {
    name: "Python",
    description:
      "My very first language - clean, elegant, great for scripting and building web apps quickly. I don't use it everyday anymore, but when I do, it feels like home.",
    logo: python,
    color: "#CBC3C33B",
  },
  {
    name: "Mysql",
    description:
      "A solid and reliable relational database choice. I've used it for years in pretty much every project that needed structured data.",
    logo: mysql,
    color: "#00758F",
  },
  {
    name: "Neovim",
    description:
      "I thought people who used it just wanted to look superior, but I value the productivity Neovim gives me. I can edit text at the speed of thought, without waiting for 5s for my `very powerful` IDE or reaching for a mouse.",
    logo: neovim,
    color: "#00B953",
  },
  {
    name: "Docker",
    description:
      "Whether building or running apps, Docker makes it easy to ensure consistent environments and spin things up quickly without dependency headaches.",
    logo: docker,
    color: "#2496ED",
  },
  {
    name: "Git",
    description:
      "Everyone uses it, and for good reason. It's a beautifully designed distributed version control system. Haven't tried others, never actually had a reason to.",
    logo: git,
    color: "#F05032",
  },
  {
    name: "Tailwind CSS",
    description:
      "I love the utility-first approach to styling. It's a nice way to quickly build responsive, modern UIs while hardly having to write any CSS.",
    logo: tailwindcss,
    color: "#38bdf8",
  },
];
---

<Layout title="Tools">
  <main class="container">
    <ProfileCard />
    <h2 class="text-3xl mb-5 mt-2">Tools</h2>

    <p class="mb-8">
      I primarily use PHP, TypeScript, Go, and Python for most of my projects.
      Sometimes I dabble in other tools and languages — out of curiosity,
      necessity, interest, or the occasional paycheck :) <br />
      Below are some of the tools I feel comfortable with, along with general experience
      and some things I really want to try out.
    </p>
    <section class="mb-8" id="tools">
      <div class="mt-5 space-y-5">
        <ul class="grid grid-cols-1 gap-4">
          {
            tools.map((tool) => (
              <li>
                <div class="flex items-start py-4 px-0.5 ">
                  <div
                    class="p-1.5 mr-4 mt-4 aspect-square object-cover rounded w-10 h-10 flex items-center justify-center"
                    style={{ backgroundColor: tool.color }}
                  >
                    <Image
                      src={tool.logo}
                      alt={tool.name}
                      class="w-9 h-9 aspect-square"
                    />
                  </div>
                  <div>
                    <h3 class="text-lg mb-1.5 font-semibold">{tool.name}</h3>
                    <p class="text-body-lighter">{tool.description}</p>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <section class="mb-8">
      <h2>Things I&apos;m excited for</h2>

      <!-- I don't know why prettier-ignore is cutting off my text, but the white space (line-breaks) are visible in browsers and prettier thankfully incosistently adds whitespace to the list items -->
      <ul class="list-disc list-inside mt-5 space-y-3">
        <li>
          <a target="_blank" href="https://rust-lang.org/">Rust</a> - A blazingly
          fast and memory-efficient systems programming languge for performance-critcal
          systems that I definitely want to use
        </li>
        <li>
          <a target="_blank" href="https://www.java.com/en/">Java</a> - A classic
          programming language and a key foundation for me in building mordern Android
          apps (with Kotlin)
        </li>
        <li>
          <a target="_blank" href="https://www.swift.org/">Swift</a> - Clean, fast
          for native iOS/macOS applications
        </li>

        <li>
          <a target="_blank" href="https://www.solidjs.com/">Solid.js</a> – I use
          React a lot, but I like Solid.js's approach to reactivity, and it's faster
          and more efficient.
        </li>
      </ul>
    </section>

    <section class="mb-8">
      <h2>Other things I&apos;ve used</h2>
      <ul class="list-disc list-inside mt-5 space-y-3">
        <li>
          <b>Laravel</b> - welps.. I have had to painfully write Laravel before.
          It is that tool I never want to work with, but I painfully have to
        </li>
        <li>
          <b>Vue.js</b> - Vue.js is really nice and simle, but after writing a lot
          of it, I do not know, but it's just not it for me.
        </li>
        <li>
          <b>MongoDB</b> - I have used this for a bit and I&apos;ll probably still
          have to use it for future projects.
        </li>
      </ul>
    </section>

    <section class="mb-8">
      <h2>CLI tools</h2>
      <ul class="list-disc list-inside mt-5 space-y-3">
        <li>
          <a target="_blank" href="https://github.com/tmux/tmux/">tmux</a> - since
          I spend a lot of time in my terminal, I use tmux for a lot of terminal
          multilexing stuff. I sometimes use <a href="https://zellij.dev/"
            >zellij</a
          > too
        </li>
        <li>
          <a target="_blank" href="https://github.com/jesseduffield/lazygit"
            >lazygit</a
          > - for a seamless git workflow in my terminal
          <ul class="list-disc list-inside ml-6 space-y-1.5">
            <li>
              <a target="_blank" href="https://github.com/dandavison/delta"
                >git-delta</a
              > - for nicer git diffs in lazygit
            </li>
          </ul>
        </li>
        <li>
          <a target="_blank" href="https://github.com/nvm-sh/nvm">nvm</a> - so I
          can manage mutiple versions of node
        </li>

        <li>
          <a target="_blank" href="https://github.com/antfu-collective/ni">ni</a
          > - so I don’t have to care whether I’m in a npm / yarn / pnpm / bun project
        </li>

        <li>
          <a target="_blank" href="https://www.zsh.org/">zsh</a> - this is my preferred
          shell
        </li>
        <li>
          <a target="_blank" href="https://github.com/junegunn/fzf">fzf</a> - as
          my fuzzy finder
        </li>
        <li>
          <a target="_blank" href="https://github.com/sharkdp/bat">bat</a> - a better
          cat
        </li>
        <li>
          <a target="_blank" href="https://github.com/ajeetdsouza/zoxide"
            >zoxide</a
          > - a better way to cd
        </li>
        <li>
          <a target="_blank" href="https://github.com/yorukot/superfile"
            >superfile</a
          >
          - a nice file explorer in my terminal
        </li>
        <li>
          <a target="_blank" href="https://posting.sh">posting</a> - I occassionaly
          use this to quickly test APIs in my terminal
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style scoped>
  a {
    @apply underline underline-offset-2;
  }
</style>
